<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Config Test Suite" >
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>

    <test name="ConfigTest">
        <classes>
         <class name="tests.PM010Test"/>
        <!-- <class name="tests.CNM01Test"/> -->
		<!-- <class name="tests.LCM07Test"/> -->
        <!-- <class name="tests.CS24Test"/> -->
        <!-- <class name="tests.CS16Test"/> -->
        <!-- <class name="tests.PR006Test"/> -->
        <!--  <class name="tests.PR005Test"/> -->
            <!-- <class name="tests.OR276Test"/> -->
           <!--  <class name="tests.CS22Test"/> -->
        </classes>
    </test>
</suite>